body {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    background-color: #F9D9CA;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

/* FONTS */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    background-color: #EC7176;
    height: 3rem;
    align-items: center;
    z-index: 100;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
    color: black;
}

/* CATS */
.catGrid {
    background-color: #EC7176;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-bottom: 50px;
}

.catCard {
    background-color: #F9D9CA;
    box-sizing: border-box;
    padding: 16px;
    width: 200px;
    border-radius: 16px;
}

.catPhoto {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.catCard h3 {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.catCard label {
    display: block;
    margin-top: -15px;
    font-weight: 400;
}

/* SHOPPING CART */
.cartGrid {
    background-color: #EC7176;
    box-sizing: border-box;
    width: fit-content;
    padding: 16px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pageWrapper {
    display: flex;
      flex-direction: column;
      align-items: center;
}

.emptyCartMessage {
      width: 100%;
      text-align: center;
      padding: 24px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
  }

/* PAGINATION */
.pagination {
    grid-column: 1 / -1;
    /* makes it span all 5 grid columns */
    display: flex;
    justify-content: space-between;
}

/* SEARCH BAR */
.searchBar {
    display: flex;
    align-items: center;
    background-color: #EC7176;
    border-radius: 24px;
    padding: 8px 16px;
    margin: 24px auto;
    max-width: 600px;
}

.searchBar input {
    flex: 1;
    border: none;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    outline: none;
}

.searchBar input::placeholder {
    color: #F9D9CA;
}

.searchBar img {
    width: 20px;
    cursor: pointer;
}

/* BUTTONS */
.addToCartBtn {
    background-color: #EC7176;
    width: 100%;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 30px;
    padding: 8px 16px;
    object-fit: cover;
    border: none;
}

.addToCartBtn:hover {
    background-color: #AA0D0E;
    color: #F9D9CA;
}

.inCartBtn {
    background-color: #AA0D0E;
    color: #F9D9CA;
    width: 100%;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 30px;
    padding: 8px 16px;
    object-fit: cover;
    border: none;
}

.inCartBtn:hover {
    background-color: #EC7176;
    color: black;
}

.pageBtn {
    color: black;
    background-color: #EC7176;
    border: none;
    font-weight: bold;
}

.submitBtn {
    align-self: center;
    background-color: #EC7176;
    color: #F9D9CA;
    border: none;
    height: 30px;
    border-radius: 30px;
    padding: 8px 24px;
}

/* FORM */
.formCard {
    background-color: #EC7176;
    box-sizing: border-box;
    width: 664px;
    padding: 16px;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.orderForm {
    display: flex;
    background-color: #F9D9CA;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 18px;
    box-sizing: border-box;
}

.formRow {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.formRow label {
    font-weight: 700;
    width: 80px;
}

.orderFormBar {
    flex: 1;
    background-color: white;
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
}

.orderFormBar input {
    flex: 1;
    border: none;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.orderFormBar input::placeholder {
    color: black;
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}