body {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

/* FONTS */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/* FONT CLASSES */
.myHeader {
    color: green;
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    background-color: white;
    height: 3rem;
    align-items: center;
    z-index: 100;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
    color: black;
}

/* CARDS */
.card {
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.catCard {
    background-color: white;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
}

.catPhoto {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.catCard h3 {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.catCard label {
    display: block;
    margin-top: -15px;
    font-weight: 400;
}

/* PAGINATION */
.pagination {
    grid-column: 1 / -1;
    /* makes it span all 5 grid columns */
    display: flex;
    justify-content: space-between;
}

/* SEARCH BAR */
.searchBar {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 24px;
    padding: 8px 16px;
    margin: 24px auto;
    max-width: 600px;
}

.searchBar input {
    flex: 1;
    border: none;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    outline: none;
}

.searchBar img {
    width: 20px;
    cursor: pointer;
}

/* BUTTONS */
.addToCartBtn {
    background-color: aqua;
    width: 100%;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 30px;
    padding: 8px 16px;
    object-fit: cover;
    border: none;
}

.addToCartBtn:hover {
    background-color: blue;
}

.inCartBtn {
    background-color: red;
    width: 100%;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 30px;
    padding: 8px 16px;
    object-fit: cover;
    border: none;
}

.inCartBtn:hover {
    background-color: darkred;
}

.pageBtn {
    color: black;
    background-color: none;
    border: none;
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}